#pictureDiv{
    position: absolute;
    left: 5px;
    top: 70px;
    width: 230px;
    height: 210px;
}

#name{
    position: absolute;
    top: 70px;
    right: 5px;
    left: 245px;
    height: 60px;
}

#ueberschrift{
    position: absolute;
    left: 5px;
    top: -10px;
}

#ueberschrift_eigenschaften{
    position: absolute;
    top: -20px;
    left: 5px;
}

#eigenschaften{
    position: absolute;
    left: 245px;
    right: 5px;
    top: 130px;
    height: 140px;
}

#liste{
    position: absolute;
    top: 15px;
    left: 20px;
}

#textDiv{
    position: absolute;
    left: 0px;
    right: 5px;
    top: 280px;
}

p{
    position: relative;
    font-family: sans-serif;
    left: 10px;
    width: 98%;
}